.DS_Store
.venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/
output/
/.cursor
/Sources
KickOff.pptx
fontlist-v*.json
.matplotlib/
.cache/matplotlib/
fpm/outputs/
CASAS2/outputs/
data/
/figures/
.DS_Store
docs/.DS_Store
